.App .container {
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.01),
      rgba(0, 0, 0, 0.7)
    ),
    url(https://images.unsplash.com/photo-1534088568595-a066f410bcda?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=989&q=80);
  border-radius: 4px;
  margin: 5px;
  width: 400px;
  height: 600px;
  padding: 0px;
  position: relative;
}

.App .footer {
  padding: 0px 0px 0px 2px;
  position: absolute;
  bottom: 0;
}

.App .footer p {
  display: inline;
  color: rgba(250, 250, 250, 0.5);
  font-size: 10px;
  font-weight: 250;
}

.App .open-source {
  color: rgba(250, 250, 250, 0.5);
  display: inline;
  font-size: 10px;
  font-weight: 250;
  text-decoration: underline;
}
